.crumb
  a(href=site.baseurl+'/'+paths.href.split('/')[1])!= strings.breadcrumb_dfak
  - const p = path.split('/')
  if (p.length >= 2) && (p[1] === 'topics') 
    - const t = site.topics.filter(m => m.source === '/'+p[0]+'/'+p[1]+'/'+p[2]+'.md')
    |  / 
    strong!= strings.topics
    |  / 
    strong!= t[0].title
  else if (p[0] === '.') && (p[2] === 'topics')
    |  / 
    strong!= strings.topics
    |  / 
    strong!= title
  else if (p[0] === '.')
    |  / 
    strong!= strings[p[2].replace('.md', '').replace('.html.pug',' ').replace('.overview','')]
  else 
    |  / 
    strong!= strings[p[1]]
